<div class="page_margin">
  <h2 class="page_title">出演者一覧</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <%= render partial: "artist_cards", locals: { artists: @artists } %>
  </div>
</div>