<div class="page_margin">
  <h2 class="page_title">アーティスト</h2>
  <div class="divider"></div>
  <p class="my-2">【出演申請】</p>
  <p class="my-2">出演希望の方は、<%= link_to "こちら", new_artist_path, class: "link" %>からお申し込みください。</p>
  <p class="my-2">
    現在の枠数：<%= @artists.length %>枠
  </p>
  <div class="divider"></div>
  <p class="my-2">【演奏者一覧】</p>
  <p>coming soon...</p>
  <div class="divider"></div>
  <p class="my-2">【タイムテーブル】</p>
  <p>coming soon...</p>
</div>