<h3 class="text-xl font-bold mt-8 text-center">
  【出演<strong>してくれる人</strong>募集の投稿】
</h3>

<div class="mt-4">
  <% if posts.present? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% posts.each do |post| %>
        <%= render partial: "performer_request_posts/cards/post_card", locals: { post: post } %>
      <% end %>
    </div>
  <% else %>
    <p>投稿がありません</p>
  <% end %>
</div>