<% if user.image_url.present? %>
  <div class="avatar w-full h-full rouded-full">
    <img src="<%= user.image_url %>" alt="<%= user.username %>" class="w-full h-full rounded-full">
  </div>
<% else %>
  <div class="avatar avatar-placeholder w-full h-full rouded-full flex items-center justify-center bg-gray-200">
    <p class="text-center text-black">
      <%= user.username.first %>
    </p>
  </div>
<% end %>