<% if user.image_url.present? %>
  <img src="<%= user.image_url %>" alt="<%= user.username %>" class="w-full h-full rounded-full">
<% else %>
  <div class="skeleton w-full h-full rounded-full"></div>
<% end %>