<div class="navbar bg-base-100 shadow-xs">
  <%= link_to root_path, class: "flex-1" do %>
    <p class="btn btn-ghost text-xl">RUNTEQ MUSIC FES</p>
  <% end %>
  <div class="flex-none">
    <%= link_to "https://ksk.botofune.com/", target: "_blank", class: "btn btn-ghost btn-xs" do %>
      <i class="fa-solid fa-bullhorn fa-xs"></i>
    <% end %>
    <%= link_to user_session_path do %>
      <i class="fa-solid fa-right-to-bracket fa-xs"></i>
    <% end %>
  </div>
</div>