<div class="navbar bg-base-100 shadow-xs">
  <%= link_to root_path, class: "flex-1" do %>
    <p class="btn btn-ghost text-xl">RUNTEQ MUSIC FES</p>
  <% end %>
  <div class="flex">
    <div>
      <%= link_to "https://ksk.botofune.com/", target: "_blank", class: "btn btn-ghost btn-md" do %>
        <i class="fa-solid fa-bullhorn"></i>
      <% end %>
    </div>
    <div>
      <%= link_to user_session_path, class: "btn btn-ghost btn-md" do %>
        <i class="fa-solid fa-right-to-bracket"></i>
      <% end %>
    </div>
  </div>
</div>