<%= turbo_frame_tag "error_messages" do %>
  <% if model.errors.any? %>
    <div class="bg-error p-2 md:p-4 text-white my-4">
      <ul class="list-disc list-inside pl-4 md:pl-3 text-sm md:text-base">
        <% model.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>