<div class="modal-box">
  <h3 class="text-lg font-bold"><%= attendee.username %>さん</h3>
  <% if attendee.role.present? %>
    <p class="py-2">
      (<%= attendee.role_i18n %>)
    </p>
  <% end %>

  <% if attendee.term.present? %>
    <p class="py-1">
      ・<%= attendee.term %>期生
    </p>
  <% end %>

  <% if attendee.x_id.present? %>
    <div class="py-1 flex items-center">
      <p>・</p>
      <%= link_to attendee.x_profile_link do %>
        <i class="fa-brands fa-square-x-twitter fa-2x"></i>
        <% end %>
    </div>
  <% end %>

  <div class="modal-action">
    <form method="dialog">
      <button class="btn">閉じる</button>
    </form>
  </div>
</div>