<% if current_user.present? %>
  <div class="p-1 my-4">
    <% case current_user.is_attending? %>
      <% when true %>
        <div class="alert alert-info">
          <p>【<strong>「参加予定」</strong>で登録されています。】<br>参加の取り消しは<%= link_to 'こちら', users_attend_status_path, data: { "turbo_confirm": "参加をキャンセルします。よろしいですか？", "turbo-method": :patch }, class: "link" %>から行ってください。</p>
        </div>
      <% else %>
        <div class="alert alert-warning">
          <p>【<strong>「不参加予定」</strong>で登録されています。】<br>参加希望の場合は<%= link_to 'こちら', users_attend_status_path, data: { "turbo_confirm": "RUNTEQ MUSIC FESへの参加を申し込みます！よろしいですか？", "turbo-method": :patch }, class: "link" %>から登録してください。</p>
        </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info my-4">
    <p>【参加希望の方へ】<br><%= link_to 'ログイン後', new_user_session_path, class: "link" %>、参加申し込みを行ってください。</p>
  </div>
<% end %>
