<div class="page_margin">
  <h2 class="page_title">ACCESS</h2>
  <p>coming soon...</p>
  <p>date: 2024/5/17(土)</p>
  <p>
    place: <%= link_to "四谷LOTUS", "https://yotsuyalotus.com/", target: "_blank", class: "link" %>
  </p>
</div>