<div class="page_margin">
  <h2 class="page_title">アクセス</h2>
  <p>
    会場：<%= link_to "四谷LOTUS", "https://yotsuyalotus.com/", target: "_blank", class: "link" %>
  </p>
  <p>
    住所：東京都新宿区四谷3-4-3 SCビルB1
    <br />
    （丸ノ内線の四谷三丁目から徒歩1分）
    <br />
    参加費：5,000円（会場費4,400円 + ドリンク代600円）
  </p>

  <div class="flex justify-start mx-4 mt-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.5595046799267!2d139.71915057629874!3d35.687846872585006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ced61ccfc2f%3A0x442158dd5310b4ea!2z5Zub6LC3TE9UVVM!5e0!3m2!1sja!2sjp!4v1741525074726!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
