<div class="card w-full bg-neutral shadow-xs mb-4">
  <div class="card-body">
    <span class="badge badge-sm badge-warning mb-2">4/20 23:59まで</span>
    <div class="flex justify-between">
      <h2 class="text-3xl font-bold">出演者募集🎙️</h2>
    </div>
    <ul class="mt-6 flex flex-col gap-2 text-sm md:text-lg">
      <li class="flex items-start">
        <div class="w-8 mr-2">
          <i class="fa-solid fa-check"></i>
        </div>
        <span>
          <%= Date.today.strftime("%m月%d日") %>現在では、<strong><%= artists.length %>枠</strong>の出演が決定しています！🎉
        </span>
      </li>
      <li class="flex items-start">
        <div class="w-8 mr-2">
          <i class="fa-solid fa-check"></i>
        </div>
        <span>音楽祭を出演者として盛り上げてくださる方々を募集しています！</span>
      </li>
      <li class="flex items-start">
        <div class="w-8 mr-2">
          <i class="fa-solid fa-check"></i>
        </div>
        <span>バンド、弾き語り、セッション、合唱など、形態は問いません！</span>
      </li>
      <li class="flex items-start">
        <div class="w-8 mr-2">
          <i class="fa-solid fa-check"></i>
        </div>
        <span>ソロでの出演〜大勢での出演まで、出演人数も問いません。</span>
      </li>
    </ul>
    <div class="mt-6">
      <%= link_to "出演申請はこちら", new_artist_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>