<div class="card w-full bg-neutral shadow-sm mb-4">
  <div class="card-body">
    <span class="badge badge-sm badge-warning mb-2">4/20 23:59まで</span>
    <div class="flex justify-between">
      <h2 class="text-3xl font-bold">出演者募集🎙️</h2>
    </div>
    <ul class="mt-6 flex flex-col gap-2 text-xs">
      <li class="flex items-start">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-8 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
        <span>音楽祭を出演者として盛り上げてくださる方々を募集しています！</span>
      </li>
      <li class="flex items-start">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-8 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
        <span>バンド、弾き語り、セッション、合唱など、形態は問いません！</span>
      </li>
      <li class="flex items-start">
      <svg xmlns="http://www.w3.org/2000/svg" class="size-8 me-2 inline-block text-success" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
        <span>ソロでの出演〜大勢での出演まで、出演人数も問いません。</span>
      </li>
    </ul>
    <div class="mt-6">
      <%= link_to "出演申請はこちら", new_artist_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>