<div class="card w-full bg-neutral shadow-sm mb-4">
  <div class="card-body">
    <span class="badge badge-sm badge-warning mb-2">4/20 23:59まで</span>
    <div class="flex justify-between">
      <h2 class="text-3xl font-bold">出演希望者用 掲示板</h2>
    </div>
    <ul class="mt-6 flex flex-col gap-2 text-sm md:text-lg">
      <li class="flex items-start">
        <div class="w-8 mr-2">
          <i class="fa-solid fa-check"></i>
        </div>
        <span>
          「楽器は弾けるけど、歌ってくれる人がいない…」「楽器は弾けないけど、歌いたい！」など、出演希望者同士の交流を目的とした掲示板です📝
        </span>
      </li>
    </ul>
    <div class="mt-6">
      <%= link_to "書き込みはこちら", new_artist_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>