<fieldset class="fieldset">
  <%= f.label :instrument_name, '楽器名', class: "fieldset-legend" %>
  <%= f.text_field :instrument_name, class: "input w-full", placeholder: "楽器名"  %>
  <div class="flex">
    <%= f.label :hope_for_matching, 'マッチング希望', class: "" %>
    <%= f.check_box :hope_for_matching %>
  </div>
</fieldset>